In [2]:
import pandas as pd

In [3]:
# https://simplemaps.com/data/world-cities
cities = pd.read_csv("../data/worldcities.csv")

In [4]:
german_cities = cities.loc[cities["iso2"] == "DE"].reset_index(drop=True)
german_cities

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Berlin,Berlin,52.5167,13.3833,Germany,DE,DEU,Berlin,primary,3664088.0,1276451290
1,Hamburg,Hamburg,53.5500,10.0000,Germany,DE,DEU,Hamburg,admin,1852478.0,1276041799
2,Munich,Munich,48.1375,11.5750,Germany,DE,DEU,Bavaria,admin,1488202.0,1276692352
3,Cologne,Cologne,50.9422,6.9578,Germany,DE,DEU,North Rhine-Westphalia,NaN,1083498.0,1276015998
4,Frankfurt,Frankfurt,50.1136,8.6797,Germany,DE,DEU,Hesse,minor,764104.0,1276054552
...,...,...,...,...,...,...,...,...,...,...,...
2638,Hollfeld,Hollfeld,49.9369,11.2908,Germany,DE,DEU,Bavaria,NaN,5043.0,1276797226
2639,Naumburg,Naumburg,51.2500,9.1667,Germany,DE,DEU,Hesse,NaN,5028.0,1276277559
2640,Süsel,Susel,54.0778,10.7181,Germany,DE,DEU,Schleswig-Holstein,NaN,5035.0,1276732338
2641,Mockrehna,Mockrehna,51.5000,12.8000,Germany,DE,DEU,Saxony,NaN,5044.0,1276804416
2642,Saal,Saal,48.9011,11.9319,Germany,DE,DEU,Bavaria,NaN,5626.0,1276401122

In [5]:
Berlin = german_cities.loc[german_cities["city"] == "Berlin"]
Berlin

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Berlin,Berlin,52.5167,13.3833,Germany,DE,DEU,Berlin,primary,3664088.0,1276451290

In [6]:
Berlin.to_csv("../csv/Berlin_city_data.csv", index=False)
cities.to_csv("../csv/world_city_data.csv", index=False)
german_cities.to_csv("../csv/germany_city_data.csv", index=False)